node-red-flow-database/data/flows.json
[{"id":"b808047b.d6ec28","type":"tab","label":"Flow 1 (Loop 1)","disabled":false,"info":""},{"id":"9f604025.02d61","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[{"x":460,"y":240,"wires":[{"id":"9081b26a.04b2f","port":0}]}]},{"id":"9d6246f5.904aa8","type":"subflow","name":"Subflow 2","info":"","in":[{"x":140,"y":180,"wires":[{"id":"200bcc12.517984"}]}],"out":[]},{"id":"8973e778.0ba9f8","type":"module-requirements","z":"9d6246f5.904aa8","required-ram":"512","required-storage":"0","required-mi":"4500","required-hw":"","output-msg-size":"321","x":440,"y":340,"wires":[]},{"id":"408feaa8.b53984","type":"subflow:9f604025.02d61","z":"b808047b.d6ec28","name":"","env":[],"x":240,"y":260,"wires":[["c22b0e20.6ea19"]]},{"id":"c22b0e20.6ea19","type":"subflow:9d6246f5.904aa8","z":"b808047b.d6ec28","name":"","env":[],"x":500,"y":260,"wires":[]},{"id":"8e4b4b7a.9739e8","type":"inject","z":"9f604025.02d61","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":240,"wires":[["9081b26a.04b2f"]]},{"id":"9081b26a.04b2f","type":"function","z":"9f604025.02d61","name":"","func":"msg.payload = \"some data ...\"\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":240,"wires":[[]]},{"id":"9b57e25e.46da1","type":"debug","z":"9d6246f5.904aa8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":180,"wires":[]},{"id":"200bcc12.517984","type":"function","z":"9d6246f5.904aa8","name":"","func":"const payload = \"payload from module 1 is: \" + msg.payload;\nreturn {...msg, payload};","outputs":1,"noerr":0,"x":250,"y":180,"wires":[["9b57e25e.46da1"]]},{"id":"4035ca01.7b0144","type":"module-requirements","z":"9f604025.02d61","required-ram":0,"required-storage":0,"required-mi":"100","required-hw":"","output-msg-size":"3000","executing-nodes":"","x":260,"y":480,"wires":[]}]
