data/flows.json
[{"id":"e2a5d735.04f528","type":"tab","label":"Heartbeat","disabled":false,"info":""},{"id":"63506699.512558","type":"tab","label":"MQTT -> exec","disabled":false,"info":""},{"id":"dcf078fb.32ecd8","type":"tab","label":"Webcam Object Detection","disabled":false,"info":""},{"id":"e45ff5b4.4cac58","type":"mqtt-broker","z":"","name":"","broker":"192.168.7.13","port":"1883","clientid":"raspi-01","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1c9a5e74.420bc2","type":"inject","z":"e2a5d735.04f528","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":80,"wires":[["e6aaf525.090b28"]]},{"id":"4df496de.1fe1c8","type":"mqtt out","z":"e2a5d735.04f528","name":"","topic":"/devices/","qos":"","retain":"","broker":"e45ff5b4.4cac58","x":340,"y":300,"wires":[]},{"id":"e6aaf525.090b28","type":"function","z":"e2a5d735.04f528","name":"get load","func":"osUtils = global.get('osUtils')\n\npayload = {\n    timestamp: msg.payload,\n    deviceName: 'raspi-01',\n    totalMem: osUtils.totalmem(),\n    freeMem: osUtils.freemem(),\n    cpuCount: osUtils.cpuCount(),\n    loadAvg1: osUtils.loadavg(1),\n    loadAvg5: osUtils.loadavg(5),\n    loadAvg15: osUtils.loadavg(15),\n}\n\nreturn {payload} ;","outputs":1,"noerr":0,"x":180,"y":160,"wires":[["58e3c993.026f38"]]},{"id":"58e3c993.026f38","type":"json","z":"e2a5d735.04f528","name":"","property":"payload","action":"","pretty":true,"x":230,"y":220,"wires":[["4df496de.1fe1c8"]]},{"id":"c907f4cb.a3cfe8","type":"mqtt in","z":"63506699.512558","name":"","topic":"/raspi-01/in","qos":"2","broker":"e45ff5b4.4cac58","x":110,"y":80,"wires":[["d7e6b7a2.29f908","fcf995c4.34ba38"]]},{"id":"d7e6b7a2.29f908","type":"debug","z":"63506699.512558","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":80,"wires":[]},{"id":"fcf995c4.34ba38","type":"exec","z":"63506699.512558","command":"","addpay":true,"append":"","useSpawn":"false","timer":"10","oldrc":false,"name":"","x":150,"y":160,"wires":[["4b4f86c1.561298","d7e6b7a2.29f908"],["d7e6b7a2.29f908","6efee3b3.22580c"],[]]},{"id":"4b4f86c1.561298","type":"mqtt out","z":"63506699.512558","name":"","topic":"/raspi-01/out","qos":"","retain":"","broker":"e45ff5b4.4cac58","x":430,"y":180,"wires":[]},{"id":"6efee3b3.22580c","type":"mqtt out","z":"63506699.512558","name":"","topic":"/raspi-01/err","qos":"","retain":"","broker":"e45ff5b4.4cac58","x":430,"y":240,"wires":[]},{"id":"cf6c511.09241b","type":"http in","z":"dcf078fb.32ecd8","name":"","url":"/image","method":"get","upload":false,"swaggerDoc":"","x":130,"y":140,"wires":[["19392a9c.6b34d5"]]},{"id":"19392a9c.6b34d5","type":"file in","z":"dcf078fb.32ecd8","name":"","filename":"/tmp/image.jpg","format":"","sendError":true,"x":340,"y":140,"wires":[["77de60c4.ab2cf"]]},{"id":"77de60c4.ab2cf","type":"change","z":"dcf078fb.32ecd8","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"image/jpeg","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":140,"wires":[["92008ffa.3de5"]]},{"id":"92008ffa.3de5","type":"http response","z":"dcf078fb.32ecd8","name":"","x":730,"y":140,"wires":[]},{"id":"960386e8.243298","type":"inject","z":"dcf078fb.32ecd8","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":140,"y":280,"wires":[["5589dca3.c02554"]]},{"id":"5589dca3.c02554","type":"exec","z":"dcf078fb.32ecd8","command":"fswebcam","addpay":false,"append":"-i 0 -r 1280x720 --no-banner -","useSpawn":"false","timer":"","oldrc":false,"name":"","x":310,"y":280,"wires":[["8dad2b28.1e3638","b7bc535c.510fc"],[],[]]},{"id":"1da969bd.28fae6","type":"http request","z":"dcf078fb.32ecd8","name":"","method":"POST","ret":"bin","paytoqs":false,"url":"http://dsl-mbp:6001/object-detection/detect-image","tls":"","proxy":"","authType":"","x":370,"y":360,"wires":[["94151289.972b"]]},{"id":"811f7b92.feb5b8","type":"http in","z":"dcf078fb.32ecd8","name":"","url":"/image_new","method":"get","upload":false,"swaggerDoc":"","x":140,"y":200,"wires":[["fc651ec1.aa2"]]},{"id":"fc651ec1.aa2","type":"file in","z":"dcf078fb.32ecd8","name":"","filename":"/tmp/image_new.jpg","format":"","sendError":true,"x":360,"y":200,"wires":[["4355247d.1baa2c"]]},{"id":"4355247d.1baa2c","type":"change","z":"dcf078fb.32ecd8","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"image/jpeg","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":200,"wires":[["5d2df1c4.ddfbf"]]},{"id":"5d2df1c4.ddfbf","type":"http response","z":"dcf078fb.32ecd8","name":"","x":730,"y":200,"wires":[]},{"id":"8dad2b28.1e3638","type":"file","z":"dcf078fb.32ecd8","name":"","filename":"/tmp/image.jpg","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":560,"y":260,"wires":[[]]},{"id":"94151289.972b","type":"file","z":"dcf078fb.32ecd8","name":"","filename":"/tmp/image_new.jpg","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":600,"y":360,"wires":[[]]},{"id":"b7bc535c.510fc","type":"function","z":"dcf078fb.32ecd8","name":"set content type","func":"msg.headers = {};\nmsg.headers['content-type'] = 'image/jpeg';\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":360,"wires":[["1da969bd.28fae6"]]}]