data/flows.json
[{"id":"5af3cb51.dbf004","type":"tab","label":"Heartbeat","disabled":false,"info":""},{"id":"1e7b1e5f.eae4a2","type":"inject","z":"5af3cb51.dbf004","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":80,"wires":[["63daa647.18c328"]]},{"id":"5e9fd693.0e4408","type":"mqtt out","z":"5af3cb51.dbf004","name":"","topic":"/devices/","qos":"","retain":"","broker":"9d2b2e9.fa765d","x":340,"y":300,"wires":[]},{"id":"63daa647.18c328","type":"function","z":"5af3cb51.dbf004","name":"get load","func":"osUtils = global.get('osUtils')\n\npayload = {\n    timestamp: msg.payload,\n    deviceName: '<###NODE_NAME###>',\n    totalMem: osUtils.totalmem(),\n    freeMem: osUtils.freemem(),\n    cpuCount: osUtils.cpuCount(),\n    loadAvg1: osUtils.loadavg(1),\n    loadAvg5: osUtils.loadavg(5),\n    loadAvg15: osUtils.loadavg(15),\n}\n\nreturn {payload} ;","outputs":1,"noerr":0,"x":180,"y":160,"wires":[["28c55e2b.d79b22"]]},{"id":"28c55e2b.d79b22","type":"json","z":"5af3cb51.dbf004","name":"","property":"payload","action":"","pretty":true,"x":230,"y":220,"wires":[["5e9fd693.0e4408"]]},{"id":"9d2b2e9.fa765d","type":"mqtt-broker","z":"","name":"","broker":"<###MQTT_SERVER###>","port":"1883","clientid":"<###NODE_NAME###>","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]