data/flows.json
[{"id":"e2a5d735.04f528","type":"tab","label":"Heartbeat","disabled":false,"info":""},{"id":"e45ff5b4.4cac58","type":"mqtt-broker","z":"","name":"","broker":"192.168.7.13","port":"1883","clientid":"raspi-01","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1c9a5e74.420bc2","type":"inject","z":"e2a5d735.04f528","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":80,"wires":[["e6aaf525.090b28"]]},{"id":"4df496de.1fe1c8","type":"mqtt out","z":"e2a5d735.04f528","name":"","topic":"/devices/","qos":"","retain":"","broker":"e45ff5b4.4cac58","x":340,"y":300,"wires":[]},{"id":"e6aaf525.090b28","type":"function","z":"e2a5d735.04f528","name":"get load","func":"osUtils = global.get('osUtils')\n\npayload = {\n    timestamp: msg.payload,\n    deviceName: 'raspi-01',\n    totalMem: osUtils.totalmem(),\n    freeMem: osUtils.freemem(),\n    cpuCount: osUtils.cpuCount(),\n    loadAvg1: osUtils.loadavg(1),\n    loadAvg5: osUtils.loadavg(5),\n    loadAvg15: osUtils.loadavg(15),\n}\n\nreturn {payload} ;","outputs":1,"noerr":0,"x":180,"y":160,"wires":[["58e3c993.026f38"]]},{"id":"58e3c993.026f38","type":"json","z":"e2a5d735.04f528","name":"","property":"payload","action":"","pretty":true,"x":230,"y":220,"wires":[["4df496de.1fe1c8"]]}]